/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: #000000; 
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #ffffff; 
    text-decoration: none;
}

/* Form Styles */
.form {
    width: 80%;
    max-width: 400px;
    color: #ffffff;
    text-align: center;
}

.heading {
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 20px;
}

input, .submit-btn {
    width: 80%;
    height: 35px;
    margin: 10px auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: #ffffff;
    padding: 15px;
    transition: background-color 0.5s, color 0.5s;
    font-size: 1em;
}

input::placeholder {
    color: #000000;
}

input:focus, .submit-btn:hover {
    background: #fffdfd;
    color: #000000;
}

.submit-btn {
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
}

/* Link Styles */
.link {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px auto;
    text-decoration: none;
}

.link:hover {
    color: #fff;
}

/* Alert Box Styles */
.alert-box {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    padding: 10px;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    text-align: center;
    transition: 1s;
}

/* Sign-Up Styles */
.Sign-Up {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.25em;
    text-align: center;
    margin: 20px;
}

/* Media Queries */
@media (max-width: 600px) {
    .form, .submit-btn {
        width: 90%;
        font-size: 0.875em;
    }
}

@media (min-width: 1200px) {
    .form, .submit-btn {
        width: 70%;
        font-size: 1.125em;
    }
}
